CSharpPerformance/obj/Release/net8.0/CSharpPerformance.csproj.AssemblyReference.cache
CSharpPerformance/bin/Debug/net6.0/CSharpPerformance.deps.json
.vs/CSharpPerformance/v17/DocumentLayout.json
.vs/
CSharpPerformance/bin/
CSharpPerformance/obj/
